# ======================================
# Python
# ======================================
__pycache__/
*.py[cod]
*$py.class

# ======================================
# Virtual Environment
# ======================================
.venv/
venv/
env/

# ======================================
# VS Code
# ======================================
.vscode/

# ======================================
# Jupyter
# ======================================
.ipynb_checkpoints/

# ======================================
# Python cache
# ======================================
.pytest_cache/
.mypy_cache/
.cache/

# ======================================
# macOS
# ======================================
.DS_Store

# ======================================
# Windows
# ======================================
Thumbs.db

# ======================================
# Logs
# ======================================
*.log

# ======================================
# Streamlit
# ======================================
.streamlit/

# ======================================
# Model files
# ======================================
models/
*.keras
*.h5

# ======================================
# Dataset
# Uncomment if you don't want to upload
# the dataset to GitHub
# ======================================
data/